# Data frame part 3 Multa index and index higher key

In [15]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [10]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside =[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [12]:
inside

[1, 2, 3, 1, 2, 3]

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
df = pd.DataFrame(randn(6,2),hier_index,["A","B"])

In [17]:
df

             A         B
G1 1 -0.036996 -0.158419
   2 -0.397956 -0.312594
   3 -1.530867  0.928560
G2 1 -0.052145 -0.090573
   2 -1.107375  0.885901
   3  0.431969 -0.337762

In [18]:
df.index.names

FrozenList([None, None])

In [19]:
df.index.names = ["Groups","Numbers"]

In [20]:
df

                       A         B
Groups Numbers
G1     1       -0.036996 -0.158419
       2       -0.397956 -0.312594
       3       -1.530867  0.928560
G2     1       -0.052145 -0.090573
       2       -1.107375  0.885901
       3        0.431969 -0.337762

In [25]:
df.loc['G2'].loc[2]["B"]

0.8859012631302338

In [31]:
df.loc['G1'].loc[2]["B"]

-0.3125942835729124

In [32]:
df

                       A         B
Groups Numbers
G1     1       -0.036996 -0.158419
       2       -0.397956 -0.312594
       3       -1.530867  0.928560
G2     1       -0.052145 -0.090573
       2       -1.107375  0.885901
       3        0.431969 -0.337762

# cross section

In [33]:
df.xs("G1")

                A         B
Numbers
1       -0.036996 -0.158419
2       -0.397956 -0.312594
3       -1.530867  0.928560

In [34]:
df.xs(1,level="Numbers")

               A         B
Groups
G1     -0.036996 -0.158419
G2     -0.052145 -0.090573